{% load staticfiles %}

<html>
    <head>
        <title>Baku, collectionneur de rêves</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="admin/" class="top-menu" title="Utilisateur"><span class="glyphicon glyphicon-user"></span></a>
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu" title="Nouveau rêve"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="admin/logout" class="top-menu" title="Se déconnecter"><span class="glyphicon glyphicon-off"></span></a>
            {% endif %}
            <a href="mailto:caiu@caiu.fr" class="top-menu" title="Pour nous contacter !"><span class="glyphicon glyphicon-envelope"></span></a>
            <h1><a href="/">Baku, collectionneur de rêves</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
